* {
  margin-bottom: 0px;
}

.body-card-for-overview-job {
  margin-top: 44px;
  margin-left: 32.16px;
}
.card-for-job-overview.card {
  border: transparent;
}

.container-for-job-overview {
  margin-left: 0px;
}

.title-overview h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3e3e3e;
  margin-bottom: 24px;
  margin-top: 8.36px;
  margin-left: 8.2px;
}

.job-overview-data {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.job-overview-data img {
  height: 18.33333396911621px;
  width: 16.5px;
  margin-right: 18.75px;
  margin-left: 10.95px;
}

.job-overview-string h5 {
  font-size: 16px;
  line-height: 24px;
  color: #80848d;
}

.job-overview-string h6 {
  font-size: 15px;
  line-height: 24px;
  color: #3e3e3e;
}

.job-overview-data2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.job-overview-data2 img {
  height: 18.33333396911621px;
  width: 11px;
  margin-right: 20.58px;
  margin-left: 13.7px;
}

.job-overview-data3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.job-overview-data3 img {
  height: 18.33333396911621px;
  width: 12.833334922790527px;
  margin-right: 18.75px;
  margin-left: 12.79px;
}

.job-overview-data4 {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.job-overview-data4 img {
  height: 14.666665077209473px;
  width: 14.666665077209473px;
  margin-right: 19.67px;
  margin-left: 11.87px;
}

.job-overview-data5 {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.job-overview-data5 img {
  height: 14.666665077209473px;
  width: 20.16666603088379px;
  margin-right: 16.92px;
  margin-left: 9.12px;
}

.job-overview-data6 {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.job-overview-data6 img {
  height: 18.33333396911621px;
  width: 18.33333396911621px;
  margin-right: 17.83px;
  margin-left: 10.04px;
}

.job-overview-data7 {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.job-overview-data7 img {
  height: 13.749999046325684px;
  width: 20.16666603088379px;
  margin-right: 16px;
  margin-left: 10.04px;
}
.containers-button-apply-and-save {
  display: flex;
  flex-direction: column;
}

.containers-button-apply-and-save button {
  border: transparent;
  border-radius: 6px;
}

.button-apply {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #1967d3;
  color: #ffffff;
  margin-bottom: 16px;
  width: 268px;
  height: 55px;
}

.button-apply:active {
  background-color: #1967d3;
  transform: translateY(4px);
}

/* .button-save-job {
  color: #1967d3;
  background: #e2efff;
  width: 268px;
  height: 55px;
} */

.button-save-job {
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #1967d3;
  background-color: #e2efff;
  border: none;
  border-radius: 15px;
}

.button-save-job:active {
  background-color: #e2efff;
  transform: translateY(4px);
}

.body-card-for-view-company-profile {
  margin-top: 16px;
  margin-left: 32.16px;
  height: 102px;
}
.body-card-for-view-company-profile.card-body {
  padding: 24px 62px 26px 24px;
}

.view-company-profile {
  display: flex;
  flex-direction: row;
}

.view-company-profile img {
  height: 53px;
  width: 53px;
  margin-right: 16px;
}

.view-company-string h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3e3e3e;
}

.view-company-string a {
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  color: #1967d3;
  text-decoration: none;
}
